# See http://help.github.com/ignore-files/ for more about ignoring files.
# compiled output

/dist
/tmp
/out-tsc
venv
.venv
.vagrant

# dependencies
/node_modules

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.idea/discord.xml

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
**/id_rsa
*.log
# System Files
.DS_Store
Thumbs.db
rockyou.txt
big.txt
**/.hugo_build.lock
**/mermaid-filter.err